{%load static%}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css1/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="{% static 'css1/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	{% for message in messages %}

	<div class="alert alert-success">
		<a class="close" href="#" data-dismiss="alert">×</a>
		   {{ message }}
	</div>
	
	{% endfor %}

	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
		

			<div class="signup">
				<form action="" method="POST">
					{% csrf_token %}
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="orgname" placeholder="Organization name" required="">
					<input type="text" name="oname" placeholder="Owner name" required="">
					<input type="text" name="usernames" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="text" name="phone" placeholder="Phone Number" required="">
					<input type="password" name="pass1" placeholder="Password" required="">
					<input type="password" name="pass2" placeholder="Confirm Password" required="">
					<button> <a href="/loginuser">Sign up</a></button>
				</form>
			</div>

			<div class="login">
				<form action="" method="POST">
					{% csrf_token %}
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="usernames" placeholder="Username" required="">
					<input type="password" name="pass1" placeholder="Password" required="">
					<button><a href="/home">Login</a></button>
				</form>
			</div>
	</div>
	

</body>
</html>
<!-- partial -->
  
</body>
</html>
